{% extends "site.twig" %}

{% block content %}

        <div class="col-md-8">
            <h1 class="page-header">Список записей <small>Главная страница</small></h1>
            <div class="well">
                <h4>Поиск:</h4>
                <form role="form" action="{{ route('articles') }}" method="get">
                    <input type="hidden" name="_token" value="{{  csrf_token() }}">
                    <div class="form-group">

                        <label for="user_select">User</label>
                        <select class="input-md form-control" id="user_select" name="user">
                            <option value="all">Все</option>
                            {% for user in users %}
                                <option value="{{ user.id }}">{{ user.name }}</option>
                            {% endfor %}
                        </select>
                            <div class="input-group"></div>
                            <label for="from">From</label>
                            <input type="text" id="from" class="form-control" name="from">
                            <label for="to">to</label>
                            <input type="text" id="to" class="form-control" name="to">
                            <br>
                            <p class="pull-right"><input type="submit" class="btn btn-primary" value="Применить"> <input type="reset" class="btn btn-danger" value="Сбросить"></p>

                    </div>
                </form>
            </div>

            <script>
                $(function() {
                    $( "#from" ).datepicker({
                        defaultDate: "+1w",
                        dateFormat:'yy-mm-dd',
                        changeMonth: true,
                        numberOfMonths: 3,
                        onClose: function( selectedDate ) {
                            $( "#to" ).datepicker( "option", "minDate", selectedDate );
                        }
                    });
                    $( "#to" ).datepicker({
                        defaultDate: "+1w",
                        dateFormat:'yy-mm-dd',
                        changeMonth: true,
                        numberOfMonths: 3,
                        onClose: function( selectedDate ) {
                            $( "#from" ).datepicker( "option", "maxDate", selectedDate );
                        }
                    });
                });
            </script>

            {% if session_has('message') %}
            <div class="alert alert-success">
                {{ session_get('message') }}
            </div>
            {% endif %}
            <div class="content">
            {% if auth_check() %}
                <a href="{{ route('article.form') }}" class="glyphicon glyphicon-pencil">Create article</a>
            {% endif %}
            {% for val in articles %}
            {% if auth_user().can('delete.all') %}
                <p class="pull-right">
                    <a href="{{ route('article.update.view', val.id) }}" class="glyphicon glyphicon-edit"></a>
                    <a href="{{ route('article.delete', val.id) }}" class="glyphicon glyphicon-trash"></a>
                </p>
            {% endif %}
            <h2><a href='{{ route('article.one', val.id) }}'>{{ val.title }}</a></h2>
                <p class="lead">{{ val.user.name }}</p>
            <p>
                <span class="glyphicon glyphicon-time"></span>
                Опубликовано {{ val.date }}
                <span class="pull-right">Всего комментариев {{ val.comments|length }}</span>
            </p>
            <hr>
            {% endfor %}
            <p>{{  articles|raw }} <span class="vcenter">Найдено с фильтром {{ countFilter }} из <b>{{ countAll|length }}</b></span></p>
            </div>
            
    </div>

{% endblock %}

